body{
    background-image: url('../imagens/livraria.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d3c1c1; 
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

@media screen and (max-width: 768px) {
    body { font-size: 14px; }
    div#cortes { width: 90%; }
    footer { position: static; }
    #user-info { display: none; }
}


.container {
    max-width: 1200px; /* Largura máxima para o conteúdo */
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #fdfcfc; /* Cor dos títulos */
}

p {
    line-height: 1.6; /* Espaçamento entre linhas dos parágrafos */
}

/* Detalhes brancos */

a {
    color: #fff; /* Cor dos links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    background-color: #fff; /* Cor do botão */
    color: #333; /* Cor do texto do botão */
    padding: 10px 20px;
    border-radius: 5px;
}

.button:hover {
    background-color: #ccc; /* Cor do botão ao passar o mouse */
}
